@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.btns-slider {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &__btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-cream;
    border-radius: 50%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;

    &__image {
      // color: $primary-text-color;
      width: 12px;
      height: 12px;
      transition: all 500ms ease-in-out;

      &:disabled {
        color: $color-cream;
      }
    }

    &:hover {
      border: 1px solid $color-cream;

      & .btns-slider__btn__image {
        color: $color-cream;
      }
    }

    &:disabled {
      border-color: $color-cream;
    }
  }
}