@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-12;
}

.imgContainer {
  display: flex;
  width: 70px;
  height: 70px;
}

.title {
  @include FontHeading(18px, 600, $color-cream);
  letter-spacing: 2px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.subtitle {
  @include FontHeading(10px, 600, $color-gold);
  letter-spacing: 1px;
}