@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.searchLayout {
  display: flex;
  flex-direction: column;
  gap: $space-12;
  padding-block: $padding-mobile;
  grid-column: 1/-1;

  @include onDesktop {
    grid-column: 2/-1;
  }
}