@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-12;
}

.forgot {
  font-size: 13px;
  font-weight: 500;
}